body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u431 {
  position:absolute;
  left:0px;
  top:55px;
  touch-action:pan-y;
}
#u431_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
  background-image:none;
}
#u431_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
}
#u433 {
  position:absolute;
  left:2px;
  top:212px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:115px;
}
#u434 {
  position:absolute;
  left:20px;
  top:145px;
  width:335px;
  height:115px;
}
#u435 {
  position:absolute;
  left:2px;
  top:50px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:115px;
}
#u436 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  height:115px;
}
#u437 {
  position:absolute;
  left:2px;
  top:50px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u438 {
  position:absolute;
  left:32px;
  top:29px;
  width:191px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u440 {
  position:absolute;
  left:28px;
  top:77px;
  width:39px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u442 {
  position:absolute;
  left:230px;
  top:105px;
  width:108px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u444 {
  position:absolute;
  left:73px;
  top:86px;
  width:67px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u445 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u446 {
  position:absolute;
  left:32px;
  top:159px;
  width:248px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u448 {
  position:absolute;
  left:28px;
  top:207px;
  width:39px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u450 {
  position:absolute;
  left:230px;
  top:235px;
  width:108px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u452 {
  position:absolute;
  left:73px;
  top:216px;
  width:67px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u431_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
  visibility:hidden;
  background-image:none;
}
#u431_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:440px;
}
#u455 {
  position:absolute;
  left:2px;
  top:212px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:115px;
  background:inherit;
  background-color:rgba(101, 176, 243, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u458 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  height:115px;
}
#u459 {
  position:absolute;
  left:2px;
  top:50px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
}
#u460 {
  position:absolute;
  left:230px;
  top:88px;
  width:125px;
  height:42px;
}
#u461 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:102px;
}
#u462 {
  position:absolute;
  left:20px;
  top:15px;
  width:166px;
  height:102px;
}
#u463 {
  position:absolute;
  left:2px;
  top:43px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u464 {
  position:absolute;
  left:32px;
  top:29px;
  width:267px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u465 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u466 {
  position:absolute;
  left:28px;
  top:77px;
  width:96px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u468 {
  position:absolute;
  left:230px;
  top:105px;
  width:108px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u470 {
  position:absolute;
  left:130px;
  top:86px;
  width:45px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:115px;
  background:inherit;
  background-color:rgba(101, 176, 243, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u475 {
  position:absolute;
  left:20px;
  top:145px;
  width:335px;
  height:115px;
}
#u476 {
  position:absolute;
  left:2px;
  top:50px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:42px;
}
#u477 {
  position:absolute;
  left:230px;
  top:218px;
  width:125px;
  height:42px;
}
#u478 {
  position:absolute;
  left:2px;
  top:13px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:102px;
}
#u479 {
  position:absolute;
  left:20px;
  top:145px;
  width:166px;
  height:102px;
}
#u480 {
  position:absolute;
  left:2px;
  top:43px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u481 {
  position:absolute;
  left:32px;
  top:159px;
  width:248px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u483 {
  position:absolute;
  left:28px;
  top:207px;
  width:96px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u484 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u485 {
  position:absolute;
  left:230px;
  top:235px;
  width:108px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u487 {
  position:absolute;
  left:130px;
  top:216px;
  width:45px;
  height:14px;
  font-size:11px;
  color:rgba(255, 255, 255, 0.698039215686274);
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u490 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
}
#u492 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493 {
  position:absolute;
  left:20px;
  top:15px;
}
#u493_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  background-image:none;
}
#u493_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#848484;
}
#u494 {
  position:absolute;
  left:80px;
  top:3px;
  width:70px;
  height:22px;
  font-size:11px;
  color:#848484;
}
#u495 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 130, 125, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u497 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u493_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  visibility:hidden;
  background-image:none;
}
#u493_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
  background:inherit;
  background-color:rgba(252, 130, 125, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:80px;
  top:0px;
  width:70px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#848484;
}
#u500 {
  position:absolute;
  left:0px;
  top:3px;
  width:70px;
  height:22px;
  font-size:11px;
  color:#848484;
}
#u501 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u502 {
  position:absolute;
  left:28px;
  top:15px;
  width:57px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u503 {
  position:absolute;
  left:107px;
  top:15px;
  width:57px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
