body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72 {
  position:absolute;
  left:20px;
  top:13px;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:342px;
  height:580px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u73 {
  position:absolute;
  left:305px;
  top:77px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u75 {
  position:absolute;
  left:50px;
  top:7px;
  width:64px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9E9E9E;
}
#u79 {
  position:absolute;
  left:0px;
  top:67px;
  width:138px;
  height:15px;
  font-size:12px;
  color:#9E9E9E;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u81 {
  position:absolute;
  left:0px;
  top:92px;
  width:217px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u83 {
  position:absolute;
  left:0px;
  top:127px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u86 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u87 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u88 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u89 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u90 {
  position:absolute;
  left:58px;
  top:181px;
  width:47px;
  height:55px;
}
#u91 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u93 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u94 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u95 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u96 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u97 {
  position:absolute;
  left:288px;
  top:181px;
  width:47px;
  height:55px;
}
#u98 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u100 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u101 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u102 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u103 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u104 {
  position:absolute;
  left:173px;
  top:181px;
  width:47px;
  height:55px;
}
#u105 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u106 {
  position:absolute;
  left:240px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u108 {
  position:absolute;
  left:0px;
  top:263px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u111 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u112 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u113 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u114 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u115 {
  position:absolute;
  left:58px;
  top:317px;
  width:47px;
  height:55px;
}
#u116 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u118 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u119 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u120 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u121 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u122 {
  position:absolute;
  left:173px;
  top:317px;
  width:47px;
  height:55px;
}
#u123 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u124 {
  position:absolute;
  left:48px;
  top:213px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u126 {
  position:absolute;
  left:60px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u128 {
  position:absolute;
  left:127px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u130 {
  position:absolute;
  left:175px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u132 {
  position:absolute;
  left:0px;
  top:399px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u135 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u136 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u137 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u138 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u139 {
  position:absolute;
  left:58px;
  top:453px;
  width:47px;
  height:55px;
}
#u140 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u141 {
  position:absolute;
  left:72px;
  top:485px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:300px;
  top:72px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144 {
  position:absolute;
  left:302px;
  top:-8px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u145 {
  position:absolute;
  left:8px;
  top:162px;
  width:34px;
  height:34px;
}
#u146 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u147 {
  position:absolute;
  left:125px;
  top:162px;
  width:34px;
  height:34px;
}
#u148 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u149 {
  position:absolute;
  left:8px;
  top:434px;
  width:34px;
  height:34px;
}
#u150 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u151 {
  position:absolute;
  left:125px;
  top:298px;
  width:34px;
  height:34px;
}
#u152 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u153 {
  position:absolute;
  left:8px;
  top:298px;
  width:32px;
  height:32px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u155 {
  position:absolute;
  left:240px;
  top:162px;
  width:34px;
  height:34px;
}
#u156 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u158 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
}
#u160 {
  position:absolute;
  left:0px;
  top:520px;
  width:335px;
  height:60px;
}
#u161 {
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u162 {
  position:absolute;
  left:310px;
  top:0px;
  width:25px;
  height:24px;
}
#u163 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
}
#u164_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background-image:none;
}
#u164_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u166 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u167 {
  position:absolute;
  left:107px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u169 {
  position:absolute;
  left:276px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u171 {
  position:absolute;
  left:240px;
  top:17px;
  width:26px;
  height:26px;
}
#u172 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u173 {
  position:absolute;
  left:72px;
  top:16px;
  width:26px;
  height:26px;
}
#u174 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:55px;
  top:0px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
