body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196 {
  position:absolute;
  left:20px;
  top:13px;
}
#u196_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:342px;
  height:580px;
  background-image:none;
}
#u196_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u197 {
  position:absolute;
  left:305px;
  top:77px;
  width:30px;
  height:30px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u199 {
  position:absolute;
  left:50px;
  top:7px;
  width:43px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9E9E9E;
}
#u203 {
  position:absolute;
  left:0px;
  top:67px;
  width:138px;
  height:15px;
  font-size:12px;
  color:#9E9E9E;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u205 {
  position:absolute;
  left:0px;
  top:92px;
  width:217px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u207 {
  position:absolute;
  left:0px;
  top:127px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u210 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u211 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u212 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u213 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u214 {
  position:absolute;
  left:58px;
  top:181px;
  width:47px;
  height:55px;
}
#u215 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u217 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u218 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u219 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u220 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u221 {
  position:absolute;
  left:288px;
  top:181px;
  width:47px;
  height:55px;
}
#u222 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u224 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u225 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u226 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u227 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u228 {
  position:absolute;
  left:173px;
  top:181px;
  width:47px;
  height:55px;
}
#u229 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u230 {
  position:absolute;
  left:240px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u232 {
  position:absolute;
  left:0px;
  top:263px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u235 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u236 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u237 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u238 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u239 {
  position:absolute;
  left:58px;
  top:317px;
  width:47px;
  height:55px;
}
#u240 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u242 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u243 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u244 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u245 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u246 {
  position:absolute;
  left:173px;
  top:317px;
  width:47px;
  height:55px;
}
#u247 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u248 {
  position:absolute;
  left:48px;
  top:213px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u250 {
  position:absolute;
  left:60px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u252 {
  position:absolute;
  left:127px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u254 {
  position:absolute;
  left:175px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u256 {
  position:absolute;
  left:0px;
  top:399px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u259 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u260 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u261 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u262 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u263 {
  position:absolute;
  left:58px;
  top:453px;
  width:47px;
  height:55px;
}
#u264 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u265 {
  position:absolute;
  left:72px;
  top:485px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:300px;
  top:72px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u268 {
  position:absolute;
  left:8px;
  top:162px;
  width:34px;
  height:34px;
}
#u269 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u270 {
  position:absolute;
  left:125px;
  top:162px;
  width:34px;
  height:34px;
}
#u271 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u272 {
  position:absolute;
  left:8px;
  top:434px;
  width:34px;
  height:34px;
}
#u273 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u274 {
  position:absolute;
  left:125px;
  top:298px;
  width:34px;
  height:34px;
}
#u275 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u276 {
  position:absolute;
  left:8px;
  top:298px;
  width:32px;
  height:32px;
}
#u277 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u278 {
  position:absolute;
  left:240px;
  top:162px;
  width:34px;
  height:34px;
}
#u279 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
}
#u283 {
  position:absolute;
  left:0px;
  top:520px;
  width:335px;
  height:60px;
}
#u284 {
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u285 {
  position:absolute;
  left:310px;
  top:0px;
  width:25px;
  height:24px;
}
#u286 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:302px;
  top:-8px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u288 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
}
#u288_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background-image:none;
}
#u288_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u290 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u291 {
  position:absolute;
  left:107px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u293 {
  position:absolute;
  left:276px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u295 {
  position:absolute;
  left:240px;
  top:17px;
  width:26px;
  height:26px;
}
#u296 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u297 {
  position:absolute;
  left:72px;
  top:16px;
  width:26px;
  height:26px;
}
#u298 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299 {
  position:absolute;
  left:55px;
  top:0px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
