body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136 {
  position:absolute;
  left:20px;
  top:13px;
}
#u136_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:342px;
  height:580px;
  background-image:none;
}
#u136_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u137 {
  position:absolute;
  left:305px;
  top:77px;
  width:30px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u139 {
  position:absolute;
  left:50px;
  top:7px;
  width:43px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FC827D;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9E9E9E;
}
#u143 {
  position:absolute;
  left:0px;
  top:67px;
  width:138px;
  height:15px;
  font-size:12px;
  color:#9E9E9E;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u145 {
  position:absolute;
  left:0px;
  top:92px;
  width:217px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u147 {
  position:absolute;
  left:0px;
  top:127px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u150 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u151 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u152 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
}
#u153 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u154 {
  position:absolute;
  left:58px;
  top:181px;
  width:47px;
  height:55px;
}
#u155 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u157 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u158 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u159 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
}
#u160 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u161 {
  position:absolute;
  left:288px;
  top:181px;
  width:47px;
  height:55px;
}
#u162 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u164 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u165 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u166 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
}
#u167 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u168 {
  position:absolute;
  left:173px;
  top:181px;
  width:47px;
  height:55px;
}
#u169 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u170 {
  position:absolute;
  left:240px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u172 {
  position:absolute;
  left:0px;
  top:263px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u175 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u176 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u177 {
  position:absolute;
  left:0px;
  top:290px;
  width:105px;
  height:84px;
}
#u178 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u179 {
  position:absolute;
  left:58px;
  top:317px;
  width:47px;
  height:55px;
}
#u180 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u182 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u183 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u184 {
  position:absolute;
  left:115px;
  top:290px;
  width:105px;
  height:84px;
}
#u185 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u186 {
  position:absolute;
  left:173px;
  top:317px;
  width:47px;
  height:55px;
}
#u187 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u188 {
  position:absolute;
  left:48px;
  top:213px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u190 {
  position:absolute;
  left:60px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u192 {
  position:absolute;
  left:127px;
  top:213px;
  width:85px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u194 {
  position:absolute;
  left:175px;
  top:349px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u196 {
  position:absolute;
  left:0px;
  top:399px;
  width:61px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#202020;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:-1px 1px 5px rgba(153, 153, 153, 0.349019607843137);
}
#u199 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u200 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(153, 153, 153, 0.349019607843137);
}
#u201 {
  position:absolute;
  left:0px;
  top:426px;
  width:105px;
  height:84px;
}
#u202 {
  position:absolute;
  left:2px;
  top:34px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u203 {
  position:absolute;
  left:58px;
  top:453px;
  width:47px;
  height:55px;
}
#u204 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#494949;
}
#u205 {
  position:absolute;
  left:72px;
  top:485px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#494949;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:300px;
  top:72px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u208 {
  position:absolute;
  left:8px;
  top:162px;
  width:34px;
  height:34px;
}
#u209 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u210 {
  position:absolute;
  left:125px;
  top:162px;
  width:34px;
  height:34px;
}
#u211 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u212 {
  position:absolute;
  left:8px;
  top:434px;
  width:34px;
  height:34px;
}
#u213 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u214 {
  position:absolute;
  left:125px;
  top:298px;
  width:34px;
  height:34px;
}
#u215 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u216 {
  position:absolute;
  left:8px;
  top:298px;
  width:32px;
  height:32px;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u218 {
  position:absolute;
  left:240px;
  top:162px;
  width:34px;
  height:34px;
}
#u219 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u221 {
  position:absolute;
  left:115px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u222 {
  position:absolute;
  left:230px;
  top:154px;
  width:105px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
}
#u223 {
  position:absolute;
  left:0px;
  top:520px;
  width:335px;
  height:60px;
}
#u224 {
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u225 {
  position:absolute;
  left:310px;
  top:0px;
  width:25px;
  height:24px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:302px;
  top:-8px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u228 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
}
#u228_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background-image:none;
}
#u228_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u230 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u231 {
  position:absolute;
  left:107px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u233 {
  position:absolute;
  left:276px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#2999FF;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u235 {
  position:absolute;
  left:240px;
  top:17px;
  width:26px;
  height:26px;
}
#u236 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u237 {
  position:absolute;
  left:72px;
  top:16px;
  width:26px;
  height:26px;
}
#u238 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:55px;
  top:0px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
