body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:50px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:1047px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u1_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u1_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:52px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8 {
  position:absolute;
  left:0px;
  top:132px;
  width:335px;
  height:70px;
}
#u9 {
  position:absolute;
  left:2px;
  top:27px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:15px;
  top:147px;
  width:183px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:15px;
  top:173px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u14 {
  position:absolute;
  left:68px;
  top:175px;
  width:78px;
  height:16px;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u16 {
  position:absolute;
  left:291px;
  top:153px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:224px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:0px;
  top:268px;
  width:12px;
  height:5px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u22 {
  position:absolute;
  left:25px;
  top:263px;
  width:193px;
  height:16px;
  color:#494949;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u24 {
  position:absolute;
  left:25px;
  top:291px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u26 {
  position:absolute;
  left:25px;
  top:325px;
  width:310px;
  height:32px;
  color:#494949;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u28 {
  position:absolute;
  left:281px;
  top:289px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u30 {
  position:absolute;
  left:25px;
  top:365px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u32 {
  position:absolute;
  left:25px;
  top:399px;
  width:310px;
  height:32px;
  color:#494949;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u34 {
  position:absolute;
  left:25px;
  top:439px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u36 {
  position:absolute;
  left:281px;
  top:439px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u38 {
  position:absolute;
  left:281px;
  top:365px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:0px;
  top:331px;
  width:12px;
  height:5px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:0px;
  top:404px;
  width:12px;
  height:5px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 130, 125, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u44 {
  position:absolute;
  left:295px;
  top:226px;
  width:40px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:254px;
  width:335px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:0px;
  top:132px;
  width:335px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:60px;
}
#u48 {
  position:absolute;
  left:0px;
  top:987px;
  width:335px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:22px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:475px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:0px;
  top:519px;
  width:12px;
  height:5px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u54 {
  position:absolute;
  left:25px;
  top:514px;
  width:211px;
  height:16px;
  color:#494949;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u56 {
  position:absolute;
  left:25px;
  top:576px;
  width:310px;
  height:32px;
  color:#494949;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u58 {
  position:absolute;
  left:281px;
  top:540px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u60 {
  position:absolute;
  left:25px;
  top:650px;
  width:310px;
  height:16px;
  color:#494949;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u62 {
  position:absolute;
  left:281px;
  top:674px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u64 {
  position:absolute;
  left:281px;
  top:616px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:0px;
  top:582px;
  width:12px;
  height:5px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:0px;
  top:655px;
  width:12px;
  height:5px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 130, 125, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:295px;
  top:477px;
  width:40px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:720px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:0px;
  top:764px;
  width:12px;
  height:5px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u76 {
  position:absolute;
  left:25px;
  top:759px;
  width:310px;
  height:32px;
  color:#494949;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u78 {
  position:absolute;
  left:25px;
  top:835px;
  width:310px;
  height:32px;
  color:#494949;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u80 {
  position:absolute;
  left:281px;
  top:799px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#494949;
}
#u82 {
  position:absolute;
  left:25px;
  top:917px;
  width:310px;
  height:32px;
  color:#494949;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u84 {
  position:absolute;
  left:281px;
  top:957px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#9E9E9E;
}
#u86 {
  position:absolute;
  left:281px;
  top:883px;
  width:54px;
  height:14px;
  font-size:11px;
  color:#9E9E9E;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:0px;
  top:841px;
  width:12px;
  height:5px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:0px;
  top:922px;
  width:12px;
  height:5px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(252, 130, 125, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:295px;
  top:722px;
  width:40px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u94 {
  position:absolute;
  left:20px;
  top:15px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u96 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(102, 102, 102, 0.349019607843137);
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FC827D;
}
#u99 {
  position:absolute;
  left:107px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FC827D;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u101 {
  position:absolute;
  left:276px;
  top:22px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u103 {
  position:absolute;
  left:72px;
  top:16px;
  width:26px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u105 {
  position:absolute;
  left:240px;
  top:17px;
  width:26px;
  height:26px;
}
#u106 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:223px;
  top:0px;
  width:100px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
