body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:370px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:370px;
}
#u213 {
  position:absolute;
  left:2px;
  top:177px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
}
#u214 {
  position:absolute;
  left:20px;
  top:45px;
  width:211px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u216 {
  position:absolute;
  left:20px;
  top:20px;
  width:78px;
  height:15px;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:355px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u218 {
  position:absolute;
  left:30px;
  top:97px;
  width:195px;
  height:355px;
}
#u219 {
  position:absolute;
  left:2px;
  top:170px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:-3px;
  top:-7px;
  width:205px;
  height:365px;
}
#u220 {
  position:absolute;
  left:30px;
  top:97px;
  width:195px;
  height:355px;
}
#u221 {
  position:absolute;
  left:2px;
  top:170px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u222 {
  position:absolute;
  left:42px;
  top:480px;
  width:71px;
  height:16px;
  color:#202020;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:167px;
}
#u224 {
  position:absolute;
  left:53px;
  top:155px;
  width:150px;
  height:167px;
}
#u225 {
  position:absolute;
  left:2px;
  top:76px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:53px;
  top:121px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u228 {
  position:absolute;
  left:42px;
  top:511px;
  width:71px;
  height:16px;
  color:#202020;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u230 {
  position:absolute;
  left:119px;
  top:480px;
  width:31px;
  height:16px;
  font-size:14px;
  color:#202020;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u232 {
  position:absolute;
  left:119px;
  top:511px;
  width:29px;
  height:16px;
  color:#202020;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u234 {
  position:absolute;
  left:42px;
  top:541px;
  width:71px;
  height:16px;
  color:#202020;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u236 {
  position:absolute;
  left:119px;
  top:541px;
  width:183px;
  height:16px;
  color:#202020;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u238 {
  position:absolute;
  left:42px;
  top:572px;
  width:71px;
  height:16px;
  color:#202020;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u240 {
  position:absolute;
  left:119px;
  top:572px;
  width:127px;
  height:16px;
  color:#202020;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u242 {
  position:absolute;
  left:80px;
  top:338px;
  width:96px;
  height:96px;
}
#u243 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u245 {
  position:absolute;
  left:255px;
  top:185px;
  width:40px;
  height:40px;
}
#u246 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u247 {
  position:absolute;
  left:305px;
  top:185px;
  width:40px;
  height:40px;
}
#u248 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u249 {
  position:absolute;
  left:255px;
  top:235px;
  width:40px;
  height:40px;
}
#u250 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u251 {
  position:absolute;
  left:305px;
  top:235px;
  width:40px;
  height:40px;
}
#u252 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
