body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:370px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:370px;
}
#u177 {
  position:absolute;
  left:2px;
  top:177px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:20px;
  top:45px;
  width:211px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u180 {
  position:absolute;
  left:20px;
  top:20px;
  width:78px;
  height:15px;
  font-size:12px;
  color:rgba(255, 255, 255, 0.498039215686275);
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:355px;
  background:inherit;
  background-color:rgba(41, 153, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:-2px 2px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u182 {
  position:absolute;
  left:30px;
  top:97px;
  width:195px;
  height:355px;
}
#u183 {
  position:absolute;
  left:2px;
  top:170px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:-3px;
  top:-7px;
  width:205px;
  height:365px;
}
#u184 {
  position:absolute;
  left:30px;
  top:97px;
  width:195px;
  height:355px;
}
#u185 {
  position:absolute;
  left:2px;
  top:170px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u186 {
  position:absolute;
  left:42px;
  top:480px;
  width:71px;
  height:16px;
  color:#202020;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:167px;
}
#u188 {
  position:absolute;
  left:53px;
  top:155px;
  width:150px;
  height:167px;
}
#u189 {
  position:absolute;
  left:2px;
  top:76px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u190 {
  position:absolute;
  left:53px;
  top:121px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u192 {
  position:absolute;
  left:42px;
  top:511px;
  width:71px;
  height:16px;
  color:#202020;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u194 {
  position:absolute;
  left:119px;
  top:480px;
  width:31px;
  height:16px;
  font-size:14px;
  color:#202020;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u196 {
  position:absolute;
  left:119px;
  top:511px;
  width:29px;
  height:16px;
  color:#202020;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u198 {
  position:absolute;
  left:42px;
  top:541px;
  width:71px;
  height:16px;
  color:#202020;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u200 {
  position:absolute;
  left:119px;
  top:541px;
  width:183px;
  height:16px;
  color:#202020;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u202 {
  position:absolute;
  left:42px;
  top:572px;
  width:71px;
  height:16px;
  color:#202020;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#202020;
}
#u204 {
  position:absolute;
  left:119px;
  top:572px;
  width:127px;
  height:16px;
  color:#202020;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u206 {
  position:absolute;
  left:80px;
  top:338px;
  width:96px;
  height:96px;
}
#u207 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u209 {
  position:absolute;
  left:255px;
  top:185px;
  width:40px;
  height:40px;
}
#u210 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u211 {
  position:absolute;
  left:305px;
  top:185px;
  width:40px;
  height:40px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u213 {
  position:absolute;
  left:255px;
  top:235px;
  width:40px;
  height:40px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u215 {
  position:absolute;
  left:305px;
  top:235px;
  width:40px;
  height:40px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
